<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167078573436-ogt2noh9h9f15680v1rlv9udpf9clnuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167078573436-ogt2noh9h9f15680v1rlv9udpf9clnuo</string>
	<key>API_KEY</key>
	<string>AIzaSyDmSIPS1RInBk_8h3w6IlwAfOon9ewHZ9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>167078573436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephangulo.OxyComps</string>
	<key>PROJECT_ID</key>
	<string>balloons-87e42</string>
	<key>STORAGE_BUCKET</key>
	<string>balloons-87e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167078573436:ios:870adc10e381a949</string>
	<key>DATABASE_URL</key>
	<string>https://balloons-87e42.firebaseio.com</string>
</dict>
</plist>